<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Description </title>

    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">‏

</head>
<body>
    <div id="navbar" style="height: 20px">
    </div>
    <script src="../Scripts/NavigationBarScript.js"></script>
    <div>
        <h2> The Portal Game </h2>
    </div>
    <div>
        <p> The portal game is a maze escape game </p>
    </div>
    <div>
        <p> you can play single player and escape the maze </p>
    </div>
    <div>
        <p> or play agains others and try to escape before them </p>
    </div>
</body>
</html>