<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a style="margin-left:50px" class="navbar-brand" href="#">Maze</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="sinplayer.html">Single Game</a></li>
            <li><a href="MultiPlayer.html">Multiplayer Game</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">User Ranking</a></li>
            <li><a id="register" style="margin-left:180px" href="Registration.html">Register</a></li>
            <li><a id="login" href="Login.html">Login</a></li>
        </ul>
    </div>
</nav>