<!DOCTYPE html>
<html>
<head>
    <title> Ranking </title>
    <meta charset="utf-8" />
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <script src="../Scripts/UserRankingScript.js"></script>

    <link href="LoaderSymbol.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>


    <div id="navbar" class="page-header">
        <script src="../Scripts/NavigationBarScript.js"></script>
    </div>

    <div style="margin-left:45px">
        <h1> User Ranking </h1>
    </div>

    <table id="usersTable" class="table" style="margin-top:100px; margin-left:50px">
        <th>Rank</th>
        <th>Score</th>
        <th>Username</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Playing Since</th>
    </table>

    <div id="loader" class="loader"></div>
</body>

</html>