label {
    text-align: left !important;
    color: white !important;
}

select {
    text-align: left !important;
    width: auto !important;
}

h2 {
    color: antiquewhite !important;
}

/*canvas {
    border: 3px solid #000000;
}*/